.reminderItem {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 44px;
  padding-left: 16px;
  padding-right: 10px;
  margin-bottom: 12px;
  border-left: 6px solid #292c31;
  border-radius: 10px;
  background-color: #f3f4f6;
}

.reminderItem span {
  margin-left: 2px;
  margin-right: auto;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: #292c31;
}

/* Variants */

.default {
  border-left: 6px solid #292c31;
  background-color: #f3f4f6;
  span {
    color: #292c31;
  }
  svg {
    color: #4c515b;
  }
}
.primary {
  border-left: 6px solid #f95e5e;
  background-color: #ffffff;
  span {
    color: #292c31;
  }
  svg {
    color: #bec5cf;
  }
}
.gray {
  border-left: 6px solid #161d25;
  background-color: #a0a7b1;
  span {
    color: #ffffff;
  }
  svg {
    color: #ffffff;
  }
}
.orange {
  border-left: 6px solid #e86800;
  background-color: #ed9b58;
  span {
    color: #ffffff;
  }
  svg {
    color: #ffffff;
  }
}
.yellow {
  border-left: 6px solid #292c31;
  background-color: #fbd24c;
  span {
    color: #292c31;
  }
  svg {
    color: #161d2580;
  }
}

.disabled {
  border-left: 6px solid #292c31;
  background-color: #f3f4f6;
  span {
    color: #6b7280;
  }
  svg {
    color: #6b7280;
  }
}
