.pageHeader {
  display: flex;
  height: 70px;
  justify-content: start;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 15px;
  gap: 10px;
  background-color: #fff;
}

.pageHeader span {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #292c31;
}
