.pageHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 15px 10px;
  gap: 10px;
  border-bottom: 1px solid #E3E5EA;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
}

.header span {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: #292c31;
}

.subheader {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #a0a7b1;
}
