.modulesControlsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 33.333%;
    height: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    border: 1px solid #E3E5EA;
    border-right: 1px solid #FFFFFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #E3E5EA;
    overflow: hidden;

    select {
        width: calc(100% - 20px);
        margin: 0 10px;
        height: 100%;
        border: none;
        border-radius: 0;
        background-color: transparent;
        outline: none;
        color: #292c31;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .modulesControlsItem {
        select {
            width: calc(100% - 10px);
            margin: 0 5px;
            font-size: 12px;
        }
    }
}
