.tabList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    border-radius: 100px;
    gap: 4px;
    padding: 3px;
    background-color: #F3F4F6;
}

.tabButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    min-width: 108px;
    padding: 0 18px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    border-radius: 100px;
    white-space: nowrap;
    background-color: #F3F4F6;
    color: #6B7280;
}

.active {
    box-shadow: 0px 3px 1px 0px #0000000A, 0px 3px 8px 0px #0000001F;
    background-color: #FFFFFF;
    color: #161D25;
}
