/*  header */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 52px;
    padding-top: 4px;
    border-bottom: 1px solid #E3E5EA;
}

.headerTitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
    text-align: center;
    color: #292C31;    
}

.headerDate {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    color: #A0A7B1;    
}

.headerClose {
    position: absolute;
    right: 15px;
    top: -6px;
}

/*  body */

.body {
    padding: 16px;
    background-color: #F3F4F6;
}

.time {
    display: flex;
    gap: 4px;
    margin-bottom: 15px;
}

input[type=time] {
    /* border: none; */
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0px;
    color: #292C31;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
/* input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
} */

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
/* input[type=time]::-webkit-datetime-edit-text {
    padding: 19px 4px;
} */

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
/* input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
} */

/* Minute */
/* input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
} */

/* AM/PM */
/* input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #7155d3;
    border-radius: 15%;
    color: #fff;
    padding: 19px 13px;
} */

/* 'X' button for resetting/clearing time */
/* input[type=time]::-webkit-clear-button {
    display: none;
} */

/* Up/Down arrows for incrementing/decrementing the value */
/* input[type=time]::-webkit-inner-spin-button {
    display: none;
} */

.reservations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.reservationsFooter {
    margin-top: 15px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #A0A7B1;
}

.reservationsTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #292C31;

    span:last-child {
        margin-left: auto;
    }

    svg {
        margin-bottom: 3px;
        color: #FFBC02;
    }
}

.reservation {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 25px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;

    span:nth-child(2) {
        margin-left: auto;
    }

    span:last-child {
        color: #6B7280;
    }
}

.free {
    color: #64B64B;
}

.booked {
    color: #F95E5E;
}

.error {
    margin-top: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    color: #F95E5E;
}

/*  footer */

.footer {
    display: flex;
    gap: 10px;
    padding: 16px;

    button {
        width: 50%;
    }
}
