.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  padding-top: 30px;
}

.title {
  margin-bottom: 15px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #a0a7b1;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #6B7280;
}

.input {
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: #F3F4F6;
  color: #292C31;
}

.focused {
  top: 0;
  font-size: 12px;
}
