.errorModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

.errorModal {
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: 0 15px;
    padding: 60px 15px 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 7px 20px 0px #00000012;
}

.errorModalMessage {
    margin-bottom: 15px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.errorModalText {
    ul {
        margin: 0;
        list-style-position: inside;
        padding-left: 15px;
    }

    li::marker {
        margin-right: 0;
    }
}

.errorModalButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}