/* Sizes */

.extra-small {
  font-size: 18px;
}

.small {
  font-size: 24px;
}

.medium {
  font-size: 38px;
}

.large {
  font-size: 44px;
}

/* Colors */

.secondary {
  color: #ea8432;
}

.dark {
  color: #4c515b;
}

.white {
  color: #fff;
}

