.module {
  position: relative;
}

.moduleId {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  bottom: calc(100% + 5px);
  left: 50%;
  border-radius: 49.31px;

  box-shadow: 0px 1.64px 6.58px 0px #00000040;
  color: #fff;

  transform: translateX(-50%);
}

.moduleId span {
  flex-shrink: 0;
  display: flex;
  padding: 1px 3px;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  text-align: center;

  border-radius: 49.31px;

  color: #fff;
}

.available span {
  background: #64b64b;
}

.booked span {
  background: #f95e5e;
}
