.module {
  position: relative;
}

.booked {
  opacity: 0.5;
  filter: grayscale(1);
}

.activeModule, .withMarker {
  outline: 2px solid #000;
}

.marker {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%) translateY(-10px);
}

.markerHint {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
  padding: 0 5px;
  border-radius: 3.72px;
  background: #161D25B2;
  box-shadow: 0px 2.48px 2.48px 0px #00000040;

  font-family: Roboto;
  font-weight: 500;
  font-size: 7.44px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}