.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  height: 45px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  background-color: #f3f4f6;
  padding: 15px 16px 8px 16px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.input:focus {
  border-color: #f1c40f;
}

.label {
  position: absolute;
  left: 16px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #6b7280;
  transition: all 0.2s;
  pointer-events: none;
}

.input:focus + .label {
  top: 4px;
  font-size: 12px;
  color: #6b7280;
  transform: translateY(0);
  margin-bottom: 3px;
}
