.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 0 15px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

/* Variants */
.primary {
  background-color: #41BECE;
  color: white;
  border: 1px solid #41BECE;
}

.secondary {
  background-color: #ED9B58;
  color: white;
  border: 1px solid #ED9B58;

  box-shadow: 0px 7px 15px 0px #EDC9674D;
}

.tertiary {
  background-color: #F3F4F6;
  color: #6B7280;
  border: 1px solid #F3F4F6;
}

.yellow {
  background-color: #FBD24C;
  border: 1px solid #FBD24C;
  color: #292C31;

  box-shadow: 0px 7px 15px 0px #EDC9674D;

  &.ghost {
    color: #FDAD01;
  }
}

.gray {
  background-color: #A0A7B1;
  color: #fff;
  border: 1px solid #A0A7B1;
}

/* Ghost */

.ghost {
  background-color: transparent;
  box-shadow: none;
}

/* Full radius */

.fullRadius {
  border-radius: 30px;
}

/* Sizes */

.small {
  height: 38px;
}

.medium {
  height: 44px;
}

.large {
  height: 49px;
}

/* Width */
.fullWidth {
  width: 100%;
}

/* Disabled state */
.disabled {
  background-color: #F3F4F6;
  color: #BEC5CF;
  cursor: not-allowed;
}

/* Hover states */
.primary:hover:not(.disabled) {
  background-color: #3DA9A7;
}

.secondary:hover:not(.disabled) {
  background-color: #E08E51;
}

.tertiary:hover:not(.disabled) {
  background-color: #E6C152;
}

.text:hover:not(.disabled) {
  color: #636366;
}