/* header */

.header {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #E3E5EA;
}

.headerContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
    color: #292C31;
}

.subtitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    color: #A0A7B1;
}
