.header {
    position: absolute;
    z-index: 2;
    top: 42px;
    left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    height: 58px;
    gap: 10px;
    padding: 0 10px 3.5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
}

.category {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    color: #6B7280;
}

.name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #292C31;
}

.icons {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.slides {
    position: absolute;
    bottom: 0;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    display: flex;
    height: 5px;
    background-color: #fff;
}

.slidesItem {
    height: 100%;
}

.slidesItemActive {
    background-color: #41BECE;
}

