.features {
  padding: 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.itemList {
  list-style: none;
  padding: 0;
  margin-bottom: 12px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  color: #A0A7B1;
  margin-right: 8px;
}

.name {
  color: #333;
} 