.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 106px;
  padding: 8px;
  gap: 14px;
  border-radius: 12px;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3px 5px;
}

.category {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14.4px;
  color: #a0a7b1;
}

.name {
  margin-bottom: 9px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  color: #292c31;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.slider {
  width: 120px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    max-width: 120px;
  }
}

.range {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: #6b7280;

  svg {
    font-size: 18px;
    color: #ffbc02;
  }
}

.options {
  display: flex;
  align-items: center;
  gap: 2px;

  svg {
    color: #bec5cf;
  }

  span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    line-height: 13.2px;
    color: #a0a7b1;
  }
}

.optionsItems {
  display: flex;
  align-items: center;
  gap: 2px;
}

.optionsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;

  img {
    display: block;
    max-width: 18px;
    max-height: 18px;
  }
}

.favorite {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 50%;

  & > button {
    width: 34px;
    height: 34px;
  }

  svg {
    margin-top: 3px;
    color: #f95e5e;
  }
}
