.modulesControlsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 33.333%;
    height: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    border: 1px solid #E3E5EA;
    border-right: 1px solid #FFFFFF;
    background-color: #E3E5EA;
    overflow: hidden;

    input {
        border: none;
        border-radius: 0;
        background-color: transparent;
        outline: none;
        font-size: 14px !important;
        color: #292c31;
    }
}

.modulesControlsItemActive {
    background-color: #fff;
    color: #292c31;
    font-size: 14px;
}

@media (max-width: 400px) {
    .modulesControlsItem {
        input {
            font-size: 12px !important;
        }
    }

    .modulesControlsItemActive {
        font-size: 12px;
    }
}
