.NotificationsSettings {
  height: 100vh;
  overflow-y: auto;
  background-color: #f3f4f6;
}

.subHeader {
  padding: 15px 15px 0;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #a0a7b1;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
}
