.badge {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding-inline: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    border: 1px solid #BEC5CF;
    color: #BEC5CF;
    border-radius: 8px;
}

.badge.blue {
    color: #3d8393;
    border-color: #3d8393;

    &::before,
    &::after {
        border-color: #3d8393;
    }
}

.badge::before,
.badge::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 12px;
    border: 1px solid #BEC5CF;
}

.badge::before {
    top: 5px;
    left: 5px;
    border-right: none;
    border-bottom: none;
    border-radius: 4px 0 0 0;
}

.badge::after {
    bottom: 5px;
    right: 5px;
    border-left: none;
    border-top: none;
    border-radius: 0 0 4px 0;
}

